* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.btn {
  min-width: 120px;
  text-align: center;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  background-color: hsl(231, 69%, 60%);
  color: hsl(210, 17%, 98%) !important;
  border: 2px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:hover {
  background-color: hsl(210, 17%, 98%);
  color: hsl(231, 69%, 60%) !important;
}

.btn-2 {
  min-width: 120px;
  text-align: center;
  display: inline-block;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  background-color: hsl(0, 94%, 66%);
  color: hsl(210, 17%, 98%) !important;
  border: 2px solid hsl(0, 94%, 66%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn-2:hover {
  background-color: hsl(210, 17%, 98%);
  color: hsl(0, 94%, 66%) !important;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.text {
  color: hsl(229, 8%, 60%);
  line-height: 1.5rem;
}

.header {
  position: relative;
  min-height: 100vh;
  isolation: isolate;
}
.header::after {
  content: "";
  width: 550px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  display: block;
  position: absolute;
  bottom: 10%;
  right: 0;
  z-index: -1;
  border-radius: 12rem 0 0 12rem;
  -webkit-border-radius: 12rem 0 0 12rem;
  -moz-border-radius: 12rem 0 0 12rem;
  -ms-border-radius: 12rem 0 0 12rem;
  -o-border-radius: 12rem 0 0 12rem;
}
.header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10%;
}
.header .nav-bar .links-btn {
  display: none;
}
.header .nav-bar .links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}
.header .nav-bar .links li a {
  color: hsl(229, 31%, 21%);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
}
.header .nav-bar .links li a:hover {
  color: hsl(0, 94%, 66%);
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 0 10%;
  gap: 2rem;
}
.header .content .content-item {
  width: 100%;
}
.header .content .content-item .title {
  font-size: 3rem;
  color: hsl(229, 31%, 21%);
  margin-bottom: 2rem;
}
.header .content .content-item .content-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.header .content .content-item img {
  max-width: 100%;
}

.features {
  text-align: center;
  margin-top: 6rem;
}
.features .feature-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 3rem auto 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.features .feature-btns .feature-btn {
  flex-basis: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(229, 8%, 60%);
  padding-bottom: 1.5rem;
}
.features .feature-btns .feature-btn:hover {
  color: hsl(0, 94%, 66%);
}
.features .feature-btns .feature-btn.active {
  color: hsl(229, 31%, 21%);
  border-bottom: 4px solid hsl(0, 94%, 66%);
}
.features .feature {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10%;
  text-align: left;
  gap: 2rem;
}
.features .feature.active {
  display: flex;
}
.features .feature::after {
  content: "";
  width: 550px;
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  display: block;
  position: absolute;
  bottom: 5%;
  left: 0;
  z-index: -1;
  border-radius: 0 12rem 12rem 0;
  -webkit-border-radius: 0 12rem 12rem 0;
  -moz-border-radius: 0 12rem 12rem 0;
  -ms-border-radius: 0 12rem 12rem 0;
  -o-border-radius: 0 12rem 12rem 0;
}
.features .feature .feature-item {
  width: 100%;
}
.features .feature .feature-item .feature-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: hsl(229, 31%, 21%);
}
.features .feature .feature-item .btn {
  margin-top: 1.5rem;
}

.extension {
  text-align: center;
  padding: 8rem 5%;
}
.extension .extension-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 4rem 0;
}
.extension .extension-row .extension-item {
  width: 300px;
  box-shadow: 0 0.25rem 1rem hsl(240, 64%, 95%);
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.extension .extension-row .extension-item:first-of-type {
  margin-bottom: 5rem;
}
.extension .extension-row .extension-item:last-of-type {
  margin-top: 5rem;
}
.extension .extension-row .extension-item .extension-name {
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
}
.extension .extension-row .extension-item img {
  margin-top: 2.5rem;
}
.extension .extension-row .extension-item .dots {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}
.extension .extension-row .extension-item .btn {
  margin-top: 1.5rem;
  width: 100%;
}

.questions {
  width: min(600px, 90vw);
  margin: auto;
  text-align: center;
}
.questions .questions-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 3rem 0;
}
.questions .questions-row .question {
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding: 1.5rem 0;
}
.questions .questions-row .question:first-of-type {
  border-top: 1px solid hsl(229, 8%, 60%);
}
.questions .questions-row .question .question-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions .questions-row .question .question-details .question-name {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
.questions .questions-row .question .question-details .question-name:hover {
  color: hsl(0, 94%, 66%);
}
.questions .questions-row .question .question-details .icon-arrow {
  cursor: pointer;
}
.questions .questions-row .question .question-details .icon-arrow.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
}
.questions .questions-row .question .answer {
  color: hsl(0, 0%, 40%);
  line-height: 2rem;
  margin-top: 1.5rem;
  display: none;
}
.questions .questions-row .question .answer.active {
  display: block;
}

.contact {
  margin-top: 8rem;
  background-color: hsl(231, 69%, 60%);
  text-align: center;
  padding: 3rem 5%;
}
.contact .contact-text {
  color: hsl(210, 17%, 98%);
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 1rem;
}
.contact .sub-heading {
  margin-bottom: 0;
  color: hsl(210, 17%, 98%);
  padding: 2rem 0;
}
.contact .form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contact .form input {
  padding: 1rem;
  width: 300px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  background-color: hsl(229, 31%, 21%);
}
.footer .left-footer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer .left-footer img {
  filter: hue-rotate(90deg) brightness(2);
  -webkit-filter: hue-rotate(90deg) brightness(2);
}
.footer .left-footer a {
  text-transform: uppercase;
  color: hsl(210, 17%, 98%);
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer .left-footer a:hover {
  color: hsl(0, 94%, 66%);
}
.footer .right-footer {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

@media screen and (max-width: 968px) {
  .btn,
  .btn-2 {
    padding: 0.8rem 1.2rem !important;
  }
  .header::after {
    bottom: 50%;
    width: 400px !important;
    height: 200px !important;
  }
  .content {
    flex-direction: column-reverse;
    text-align: center;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .content .content-btns {
    justify-content: center;
  }
  .feature-btns {
    flex-direction: column;
    gap: 1rem;
    border-bottom: none !important;
  }
  .feature-btns .feature-btn {
    width: 100%;
    border-bottom: 1px solid hsl(229, 8%, 60%) !important;
    padding-top: 0.5rem;
  }
  .feature-btns .feature-btn:first-of-type {
    padding-top: 1.5rem;
    border-top: 1px solid hsl(229, 8%, 60%);
  }
  .feature {
    flex-direction: column-reverse;
    text-align: center !important;
  }
  .feature img {
    width: 100%;
  }
  .feature::after {
    width: 400px !important;
    height: 200px !important;
  }
  .extension-row {
    flex-direction: column;
    gap: 3rem !important;
  }
  .extension-row .extension-item:first-of-type {
    margin-bottom: 0 !important;
  }
  .extension-row .extension-item:last-of-type {
    margin-top: 0 !important;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .footer .left-footer {
    flex-direction: column;
    gap: 2rem !important;
  }
  .form {
    flex-direction: column;
  }
  .form input,
  .form .btn-2 {
    width: 100% !important;
  }
  .nav-bar {
    padding: 1.5rem 5% !important;
    position: relative;
  }
  .nav-bar .links-btn {
    display: block !important;
    cursor: pointer;
    filter: brightness(0);
    -webkit-filter: brightness(0);
  }
  .nav-bar .links {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(230, 30%, 20%, 0.9);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .nav-bar .links a {
    color: hsl(210, 17%, 98%) !important;
  }
  .nav-bar .links a:hover {
    color: hsl(0, 94%, 66%) !important;
  }
  .nav-bar .links.active {
    top: 100%;
  }
}/*# sourceMappingURL=style.css.map */